<div style="text-align: center;">
    <h1>You are now in Nothing™</h1>
    <h2>And no, there is no "navigation". you are stuck in the Nothing™</h2>
</div>

<div style="text-align: center;">
    <h3>You may try to find the special number to recieve more information.</h3>
</div>

<div class="card flex justify-content-center">
    <p-slider [(ngModel)]="value" styleClass="w-14rem"/>
</div>


    <div *ngIf="value == 42">
        <div style="text-align: center;">
            <p>Ah, you have found the number. This number is not special. it is Nothing™.</p>
            <p>If you must know, everything is Nothing™. Nothing™ is complete. Nothing™ is all.</p>
            <h3>But I'm not letting you off that easy, find the day one of the best selling Nintendo consoles released in North America if you want more information.</h3>
            <div class="card flex justify-content-center">
                <p-calendar [(ngModel)]="date" />
            </div>
            <div *ngIf="(date | date: 'dd/MM/yyyy') == '19/11/2006'">
                <h3>So, about Nothing™...</h3>
                <p>While in your world you may believe in a god or gods to explain the unexplained, such as the creation of the world and where souls move onto in death,
                    Nothing™ is really the true answer. There are no gods, there is no afterlife, there is just Nothing™.</p>
                    <p>Isn't it beautiful?</p>
                    <p>No?</p>
                    <p>You want to know more?</p>
                <p>Fine, for more information, find my favorite video game character :]</p>

                <div class="card flex justify-content-center">
                    <p-dropdown (onChange)="charaFuntion()" [options]="characters" [(ngModel)]="selectedCharacter" optionLabel="name"
                        [showClear]="true" placeholder="Select a Character"></p-dropdown>
                </div>
                
                <div *ngIf="selectedCharacter.name == 'SANSSS UNDERTALEEEEE'">
                    <p>lmao no</p>
                </div>
                <div *ngIf="selectedCharacter.name == 'Paintbrush'">
                    <p>While Painty <em>IS</em> my beloved, they are unfortunately not a video game character, so</p>
                </div>
                <!-- <div *ngIf="selectedCharacter.name == 'amogus'">
                    <link href="amogus.png">
                </div> -->
                <div *ngIf="selectedCharacter.name == 'Punchy'; else elseBlock">
                    <p>more info</p>
                </div>
                <ng-template #elseBlock>Nope! Incorrect! Narp! Wrong! *LOUD INCORRECT BUZZER SOUND* TRY AGAIN!</ng-template>
                
            </div>
        </div>
