
<!-- <div class="prose container"> -->
<div style="text-align: center;">
    <h1>You are now in Nothing™</h1>
    <h2>And no, there is no "navigation". you are stuck in the Nothing™</h2>
</div>

<div style="text-align: center;">
    <h3>You may try to find the special number to recieve more information.</h3>
</div>

<div class="card flex justify-content-center">
    <p-slider [(ngModel)]="value" styleClass="w-14rem"/>
</div>


    <div *ngIf="value == 42">
        <div style="text-align: center;">
            <p>Ah, you have found the number. This number is not special. it is Nothing™.</p>
            <p>If you must know, everything is Nothing™. Nothing™ is complete. Nothing™ is all.</p>
            <h3>But I'm not letting you off that easy, find the day one of the best selling Nintendo consoles released in North America if you want more information.</h3>
            <div class="card flex justify-content-center">
                <p-calendar [(ngModel)]="date" />
            </div>
            <div *ngIf="(date | date: 'dd/MM/yyyy') == '19/11/2006'">
                <h3>So, about Nothing™...</h3>
                <p>While in your world you may believe in a god or gods to explain the unexplained, such as the creation of the world and where souls move onto in death,
                    Nothing™ is really the true answer. There are no gods, there is no afterlife, there is just Nothing™.</p>
                    <p>Isn't it beautiful?</p>
                    <p>No?</p>
                    <p>You want to know more?</p>
                <p>Fine, for more information, find my favorite video game character :]</p>

                <div class="card flex justify-content-center">
                    <p-dropdown (onChange)="charaFuntion()" [options]="characters" [(ngModel)]="selectedCharacter" optionLabel="name"
                        [showClear]="true" placeholder="Select a Character"></p-dropdown>
                </div>
                
                <div *ngIf="selectedCharacter.name == 'SANSSS UNDERTALEEEEE'">
                    <p>lmao no</p>
                </div>
                <div *ngIf="selectedCharacter.name == 'Paintbrush'">
                    <p>While Painty <em>IS</em> my beloved, they are unfortunately not a video game character, so</p>
                </div>
                <!-- <div *ngIf="selectedCharacter.name == 'amogus'">
                    <link href="amogus.png">
                </div> -->
                <div *ngIf="selectedCharacter.name == 'Punchy'; else elseBlock">
                    <div class="container">
                    <ul class="timeline">
                        <li>
                          <div class="timeline-start">0001</div>
                          <div class="timeline-middle">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="h-5 w-5">
                              <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd" />
                            </svg>
                          </div>
                          <div class="timeline-end timeline-box">The creation of Nothing™</div>
                          <hr />
                        </li>
                        <li>
                          <hr />
                          <div class="timeline-start">1998</div>
                          <div class="timeline-middle">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="h-5 w-5">
                              <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd" />
                            </svg>
                          </div>
                          <div class="timeline-end timeline-box">iMac</div>
                          <hr />
                        </li>
                        <li>
                          <hr />
                          <div class="timeline-start">2001</div>
                          <div class="timeline-middle">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="h-5 w-5">
                              <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd" />
                            </svg>
                          </div>
                          <div class="timeline-end timeline-box">iPod</div>
                          <hr />
                        </li>
                        <li>
                          <hr />
                          <div class="timeline-start">2007</div>
                          <div class="timeline-middle">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="h-5 w-5">
                              <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd" />
                            </svg>
                          </div>
                          <div class="timeline-end timeline-box">iPhone</div>
                          <hr />
                        </li>
                        <li>
                          <hr />
                          <div class="timeline-start">2015</div>
                          <div class="timeline-middle">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="h-5 w-5">
                              <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd" />
                            </svg>
                          </div>
                          <div class="timeline-end timeline-box">Apple Watch</div>
                        </li>
                      </ul>
                    </div>
                    <p>Ok, that's all I'll tell you. Now go away!</p>
                <div class="drawer">
                    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                      <!-- Page content here -->
                      <label for="my-drawer" class="btn btn-primary drawer-button">Exit</label>
                    </div>
                    <div class="drawer-side">
                      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                      <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
                        <!-- Sidebar content here -->
                        <li><a  onclick="my_modal_1.showModal()">Exit</a></li>
                        <dialog id="my_modal_1" class="modal">
                            <form method="dialog" class="modal-box">
                              <p class="py-4">Bye Bye! Don't come back!</p>
                              <div class="modal-action">
                              </div>
                            </form>
                          </dialog>
                        <li><a routerLink="/help">Help</a></li>
                      </ul>
                    </div>
                </div>
                  </div>
                <ng-template #elseBlock>Nope! Incorrect! Narp! Wrong! *LOUD INCORRECT BUZZER SOUND* TRY AGAIN!</ng-template>
                
            </div>
        </div>
    <!-- </div> -->