<div style="text-align: center;">
    <h1>Welcome To Nothing™!</h1>
    <h3>Here is the Nothingness™ progress bar!</h3>
</div>
<div class="card">
    <p-progressBar [value]="1" />
</div>

<div style="text-align: center;">
    <h2>And here is some useless information about Nothing™!</h2>
</div>
<div class="card flex justify-content-center">
    <p-accordion>
        <p-accordionTab header="About Nothing™">
            <p>
                Nothing™ does not exist. What you are reading does not exist. Nothing™ has never existed and never will. Wake up
            </p>
        </p-accordionTab>
        <p-accordionTab header="The Founder">
            <p>
                Please I'm begging you please wake up. Nothing™ isn't real.
            </p>
        </p-accordionTab>
        <p-accordionTab header="Our Outlook">
            <p>
                This is your last warning. Get out and wake up. If you continue, you will be trapped in the Nonexistance™ of Nothing™

            </p>
            <a routerLink="/nothing" class="p-button">Continue not Nothing™</a>
        </p-accordionTab>
    </p-accordion>
</div>

